@using kuujinbo.Mvc.NET.HtmlHelpers

<fieldset>
    <legend>CheckboxGroupToggler Html Helper</legend>

    <ul class='list-group' id='ul-group'>
        <li class='list-group-item'><input name='fldArchiveFlag' type='checkbox' /> ArchiveFlag</li>
        <li class='list-group-item'><input name='fldId' type='checkbox' /> Id</li>
        <li class='list-group-item'><input name='fldName' type='checkbox' /> Name</li>
        <li class='list-group-item'><input name='fldUpdated' type='checkbox' /> Updated</li>
    </ul>

    <div id='inline-checkboxes'>
        <input name='00' type='checkbox' /> 00
        <input name='01' type='checkbox' /> 01
        <input name='02' type='checkbox' /> 02
    </div>

    @Html.CheckboxGroupToggler("#ul-group")
    @Html.CheckboxGroupToggler("#inline-checkboxes", true)
</fieldset>