@model kuujinbo.ASP.NET.Mvc.Misc.Services.CacInfo

<h1>CacInfo Test</h1>

<div>Last Name: @Model.LastName</div>
<div>First Name: @Model.FirstName</div>
<div>Email: @Model.Email</div>
<div>Edipi: @Model.Edipi</div>