@using kuujinbo.Mvc.NET.HtmlHelpers

<fieldset>
    <legend>JQueryConfirm Html Helper</legend>
    <div id='test-container'>
        @for (var i = 1; i <= 20; ++i)
        {
            <div>
                <span data-id='@i' class='delete glyphicon glyphicon-remove-sign'></span>
                Fake database record [@i]
            </div>
        }
    </div>
</fieldset>
@Html.JQueryConfirm()

@section scripts {
<script>
    var confirm = new JQueryConfirm();
    var container = document.querySelector('#test-container');
    container.addEventListener(
        'click'
        , function (e) {
            var target = e.target;
            if (target.classList.contains('delete')) {
                confirm.show(
                    'Delete this record?',
                    function() {
                        target.parentNode.parentNode.removeChild(target.parentNode);
                    }
                );
            }
        }
        , false
    );
</script>
}