<div>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target=".bs-example-js-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='/' class="navbar-brand">kuujinbo</a>
            </div>
            <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
                <div class="nav navbar-nav margin-10">
                    <div class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" role="button"
                           data-toggle="dropdown" class="dropdown-toggle" href="#" id="drop1" style='color:white;'>
                            Code Samples
                            <span class="caret"></span>
                        </a>
                        <div aria-labelledby="drop1" class="dropdown-menu margin-5 row" style='width:576px;'>
                            <div class='col-sm-6'>
                                <h4>MVC</h4>
                                <div>
                                <a href='@Url.Action("Index", "jQueryDataTables")'>LINQ to Entities jQuery DataTables</a>
                                </div>
                                <div>
                                <a href='https://localhost:44343/CacInfo'>CacInfo</a>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                @*<h4>TEST</h4>*@
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href='https://github.com/kuujinbo' alt='kuujinbo at GitHub' title='kuujinbo at GitHub' target='_blank'><span class="margin-lr10 mega-octicon octicon-mark-github"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>