<div class='jumbotron'>
<h1>Site Terms of Use</h1>
    <ul>
        <li>Condition 00</li>
        <li>Condition 01</li>
    </ul>
    <a href='@Url.Action("Accept", "NoticeAndConsent")' class="btn btn-primary">Accept</a>
    <a href='@Url.Action("Refuse", "NoticeAndConsent")' class="btn btn-primary">Refuse</a>
</div>